* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: #BE93C5;
}

a {
    text-decoration: none;
}

button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: #7BC6CC;
    color: #fff;
    padding: 16px 58px;
    border-radius: 35px;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
}

button:hover {
    background-color: #fff;
    color: #BE93C5;
}

h1 {
    color: #fff;
    font-weight: 400;
    font-size: 45px;
}

h2 {
    font-size: 35px;
    font-weight: 300;
}

p {
    line-height: 2em;
    font-size: 20px;
}

h3 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 18px;
    color: #4e80cf;
    margin-left: 20px;
}
h6 {
    font-size: 40px;
    text-transform: uppercase;
    color: #4e80cf;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-top: 30px;
}

.home_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.home_wrapper > div > ul {
    list-style: none;
    display: flex;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    bottom: 50px;
    margin-bottom: 25px;
}

.home_navbar {
    display: none;
}

/*home*/
.home_wrapper > div > ul > li {
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 4px solid transparent;
    transition: 0.3s all ease-in;
}
.home_wrapper > div:first-child > ul > li:hover {
    border-bottom: 3px solid #fff;
}
.home_wrapper > div:first-child > ul > li > a {
    text-decoration: none;
    color: #fff;
}
.home_wrapper > div:last-child > ul > li:hover {
    border-bottom: 3px solid #4e80cf;
}
.home_wrapper > div:last-child > ul > li > a {
    color: #4e80cf;
}
.main_wrapper {
    display: flex;
    flex-direction: column;
    height: 300px;
    position: relative;
    bottom: 125px;
    color: #fff;
    align-items: left;
    margin-left: 15px;
}
.main_wrapper > h2 {
    margin-bottom: 30px;
}
.main_wrapper > div > img {
    height: 300px;
    width: 450px;
    background-color: #fff;
    padding: 5px;
}
.questions_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}
.questions_wrapper > div {
    margin-bottom: 50px;
}
.questions_wrapper > div > p:first-child {
    color: #1e3c6d;
}


@media screen and (min-width: 850px) {
    .home_navbar {
        display: flex;
    }
    .home_wrapper {
        height: 300px;
    }
    .main_wrapper {
        height: 400px;
        margin-bottom: 100px;
        margin-left: 80px;
        bottom: 70px;
    }
    .main_wrapper > h2 {
        margin-bottom: 80px;
    }
    .main_wrapper > div > img {
        height: 380px;
        width: 700px;
    }
    .questions_wrapper {
        margin-left: 80px;
        margin-right: 80px;
    }
}